<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smsoft.board.mapper.CategoryMapper">
    <insert id="registerCategory" parameterType="com.smsoft.board.dto.CategoryDTO">
        INSERT INTO category (name)
        values (#{name})
    </insert>

    <update id="updateCategory" parameterType="com.smsoft.board.dto.CategoryDTO">
        UPDATE category
           SET name = #{name}
         WHERE id = #{id}
    </update>

    <delete id="deleteCategory">
        DELETE FROM category WHERE id = #{id}
    </delete>
</mapper>